.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:hover {
    background-color: rgb(199, 189, 189);
  }
  
  